
*{
    padding: 0;
    margin: 0;
}

html,body,#app{
    height: 100%;
    width: 100%;
    // 溢出隐藏
    overflow: hidden;
}

.page{  
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-main-color);
    .page-centent{
        height: 100%;
        flex: 1;
        overflow: auto;
       background-color: var(--background-main-color-2);

    }

}   

