:root {
	/* 激活的颜色 */
	--tabbar-active-color: rgb(212, 0, 0);
	/* 主要的背景颜色 */
	--background-main-color: rgb(14, 14, 14);
	--background-color-1: rgb(25, 25, 25);
	--background-color-2: rgb(40, 40, 40);
	--background-color-3: rgb(20, 20, 20);
	--background-color-light: rgb(25, 25, 25);
	--background-color-contrast:#fff;
	
	/*主要的字体颜色*/
	--font-main-color: #fff;
	--font-main-color-1: rgb(212, 212, 212);
	--font-main-color-2: rgb(132, 132, 132);
	--font-main-color-3: rgb(100, 100, 100);
	--border-color-1: rgb(115, 115, 115);
	--border-color-2: rgb(87, 87, 87);
	--border-color-3:rgb(40, 40, 40);

	/* 边距 */
	--padding-size-medium: 20px;
	--padding-size-mini:15px;
	--margin-size-top-mini:10px;
	--margin-size-left-mini:10px;
	--margin-size-medium: 20px;


	/* 加载的颜色 */

	--loading-color:#ee0a24;

	/* vant nav-bar-background-color */
	--van-nav-bar-background-color: var(--background-main-color) !important;
	--van-search-background-color: transparent !important;
	--van-search-content-background-color: var(--background-color-2) !important;
	--van-field-input-text-color: var(--font-main-color-2) !important;
	--van-nav-bar-icon-color: var(--font-main-color-2) !important;
	--van-tabbar-background-color: var(--background-main-color) !important;
	--van-tabbar-item-active-background-color: var(--background-main-color) !important;
	--van-tabbar-item-text-color: var(--font-main-color-1) !important;
	--van-tabbar-item-active-color: var(--tabbar-active-color) !important;
	--van-button-mini-padding: 0 15px !important;
	--van-button-default-border-color: var(--border-color-1) !important;
	--van-cell-background-color: var(--background-color-1) !important;
	--van-cell-horizontal-padding: 15px !important;
	--van-cell-text-color: var(--font-main-color) !important;
	--van-popup-background-color: var(--background-main-color) !important;
	--van-field-label-color: var(--font-main-color) !important;
	--van-field-input-text-color: var(--font-main-color) !important;
	--van-field-placeholder-text-color: var(--font-main-color-3) !important;
	--van-cell-background-color:transparent !important;
	--van-cell-active-color:var(--background-color-2);
	--van-tag-default-color:var(--background-color-1) !important;
	--van-border-color:var(--border-color-3) !important;
	--van-image-placeholder-background-color:var(--background-color-2) !important;
	--van-nav-bar-title-text-color:var(--font-main-color) !important;
}
